<mat-toolbar color="gray">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <h1>Drivers Management</h1>
    <span class="menu-spacer"></span>
    <div>
      <a mat-button [routerLink]="'/create-driver'"> Add Driver </a>
      <a mat-button [routerLink]="'/update-driver'"> Update Driver </a>
      <a mat-button [routerLink]="'/delete-driver'"> Delete Driver </a>
      <a mat-button  routerLinkActive='active' [routerLink]="['/list-drivers']"> List All Drivers </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<div class='container'>
  <router-outlet></router-outlet>
</div>